
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 48%; 
    text-align: center; 
  }
  .myButton {
      text-align: center;
      padding: 10px;
      margin-top: 5%;
      
      
  }
  button {
      font-size: 30px;
  }
h1 {
    text-align: center;
}
img {
    width: 20%;
    height: 200px;
    padding-right: 40px;
    padding-left: 50px;
}
  